{% extends 'base.html' %}

{% block content %}

{% if session.name %}

    <div class="container">
        <h2 align="left">Next Train</h2>
        <p align="left">Data loaded at {{ time }}</p>
        {%if etadata["UP"] %}            
        <table class="table table-striped">
          <thead>
            <tr>
              <th>From {{station}}</th>
              <th>To {{etadata["UP"][0]["dest"]}}</th>
            </tr>
          </thead>

          <tbody>
            {%for train in etadata["UP"] %}
            <tr>
              <td>#{{ train["seq"] }}</td>
              <td>{{ train["time"] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>       
        {%else%}
        <h1>404 Not Found. Error in getting next train data.</h1>
        {% endif %}

        {%if etadata["DOWN"] %}            
        <table class="table table-striped">
          <thead>
            <tr>
              <th>From {{station}}</th>
              <th>To {{etadata["DOWN"][0]["dest"]}}</th>
            </tr>
          </thead>

          <tbody>
            {%for train in etadata["DOWN"] %}
            <tr>
              <td>#{{ train["seq"] }}</td>
              <td>{{ train["time"] }}</td>
            </tr>
            {% endfor %}

          </tbody>

        </table>       

        {% endif %}

    </div>

{% else%}
    <h1>Please <a href="/login">log in</a> to view the content. </h1> 
{% endif %}

{% endblock %}