{% extends 'base.html' %}

{% block content %}

{% if session.name %}
<div class="container">
    <h2 align="left">Extract text from a pdf or an image with OCR</h2>
    
    <form method="POST" action="/OCR" enctype="multipart/form-data">
    <div class="form-group">
        <input class="form-control-file" type="file" name="file">
        <button class="btn btn-primary">OCR</button>
    </div>
    </form>
</div>
<br>

<div class="form-group" align="text-center">
    <form method="POST" action="/OCR/download/{{filename}}" enctype="multipart/form-data">
        <h2 >{{filename}}</h2>
        <br>
        <textarea class="form-outline w-50 mb-4" id="textextracted" name="textextracted" rows="20" spellcheck="true">        
            {% for t in text %}
            {%print(t)%}
            {% endfor %}
        </textarea>


        <button type="submit" class="btn btn-primary">Download</button>
    </form>
</div>




{% else%}
    <h1>Please <a href="/login">log in</a> to view the content. </h1>
{% endif %}

{% endblock %}